# Output directories
Debug
Release

# Per-user files
*.suo
*.user
*.sdf
*.filters
*.opensdf

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# NUnit Files
NUnit30Settings.xml
TestResult.xml
